registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencies=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=300000
